html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about-page {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;

    .banner_container {
        &:after {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}
