.card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
  background-color: #FF6060;
  display: flex;
  flex-direction: column;
}

.card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%; 
  background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  z-index: 2; 
}

h2,
.card-title {
  margin: 0;
  text-decoration: none;
  color: white;
  text-align: left;
  padding: 10px;
  position: relative;
  z-index: 3; 
}


  .card-title {
    font-size: 14px;
  }

  // Media queries
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 14px;
    }
    .card-title {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 767px) {
    h2 {
      font-size: 12px;
    }
    .card-title {
      font-size: 10px;
    }
}

