.collapse-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: auto;
  transition: transform 0.3s ease; 
}

.icon.open {
  transform: rotate(180deg); 
}

.content {
  max-height: 0;
  overflow: hidden;
  color: #FF6060;

  &.show {
    max-height: 1000px;
    animation: slideDown 1s ease-in-out;
    p {
      padding: 10px;
    }
  }
}

@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}

.collapse-button, .content.show {
  width: 100%; 
  margin: 0 auto; 
}

.content, .content.show {
  width: 100%; 
  margin: 0 auto; 
  background-color: #F6F6F6; 
  border-radius: 10px;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px; 
  width: 100%; 
  max-width: 1000px; 
  margin: 0 auto; 
  margin-bottom: 50px;
}

.collapse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 5px; 
  width: 100%; 
  max-width: 8000px; 
}

.hidden {
  display: none;
}

