.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center; 
}

.error-page h1 {
    color: #FF6060;
    font-size: 288px; 
    margin: 0;
    line-height: 1; 
}

.error-page h2 {
    color: #FF6060;
    font-weight: 500;
    margin: 20px 0; 
    font-size: 2rem; 
}

.error-page .home-link {
    color: #000000;
    margin: 20px 0;
    &:hover {
        color: black;
    }
}

/* Responsive design pour tablettes */
@media (max-width: 768px) { 
    .error-page h1 {
        font-size: 144px; 
    }
}

/* Responsive design pour téléphones mobiles */
@media (max-width: 480px) { 
    .error-page h1 {
        font-size: 72px; 
    }

    .error-page h2 {
        font-size: 1.5rem; 
    }
}
