@import '_variables';

// Define variables
$font-family-montserrat: 'Montserrat', sans-serif;
$background-color: #F6F6F6;
$border-radius-large: 25px;
$border-radius-small: 10px;
$gap-large: 30px;
$margin-large: 50px;
$padding-large: 50px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

body, html {
  margin: 0;
  padding: 0;
  font-family: $font-family-montserrat;
  min-height: 100vh; 
}

main, header {
  margin-top: 25px;
  margin-left: $margin-large;
  margin-right: $margin-large;

  // Tablet responsive 
  @media (max-width: $breakpoint-tablet) {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }

  // Mobile responsive
  @media (max-width: $breakpoint-mobile) {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

// apartments grid
.apartments-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: $gap-large;
  justify-content: center;
  align-items: start;
  background-color: $background-color;
  padding: $padding-large;
  padding-top: $padding-large;
  border-radius: $border-radius-large;
  max-width: 1600px;
  margin: auto;

  // Tablet responsive 
  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr); 
  }

  // Mobile responsive 
  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  a {
    text-decoration: none;
  }
}

.card {
  border-radius: $border-radius-small;
  overflow: hidden;
  background-size: cover;
  background-position: center; 
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  height: 200px;
  width: 100%;
  max-width: 300px; 
  margin: 0 auto;
}
